.seller-card-front {
  width: 200px;
  height: 300px;
  perspective: 1000px;
  position: relative;

}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.5s;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #3498db; /* Set your desired background color */
  display: flex;
  align-items: center;
  justify-content: center;
background-image: url("https://media.istockphoto.com/id/1321479436/photo/multi-generational-farmer-team-holding-wood-boxes-with-fresh-organic-vegetables-focus-on-faces.jpg?s=612x612&w=0&k=20&c=YCxEi20QTwdZKpqITSju84m4hDZpzliWDZPxkUIp45c=");
width: 295%;
  height: 97%;
color: #39ff14 ; 
}

.flip-card-back {
  background-color: rgba(0, 255, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  width: 295%;
  height: 97%;
  flex-direction: column; 
}
.flip-card:hover .flip-card-front {
  transform: rotateY(180deg);
}

.flip-card:hover .flip-card-back {
  transform: rotateY(0deg);
}